# Node.js
/node_modules/

# Build folders
/[Bb]in/
/[Dd]ist/

# Build files
/public/main.min.js
/public/preload.min.js
/public/style.min.css

# npm first
yarn.lock

# macOS
.DS_Store

# svelte
/public/build/

# jest
/coverage/
