.right {
  float: right;
}

.drag {
  -webkit-app-region: drag;
}

.click {
  cursor: pointer;
}

.move {
  cursor: move;
}

.inactive {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}