.search-bar {
  height: 35px;
  width: 100%;
  display: flex;
  overflow: hidden;
  float: left;

  &__nav {
    background-color: rgb(60, 60, 60);
    width: 70px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__item {
    height: 100%;
    position: relative;
  }

  & input {
    width: calc(100% - 130px);
    padding: 10px;
    float: left;
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: #fff;

    &:focus {
      background-color: #eee;
    }
  }

  & button {
    width: 60px;
    float: right;
    z-index: 2;
    background-color: #33455a;
    border: none;
    cursor: pointer;
    color: #fff;

    &:focus {
      background-color: #223449;
    }
  }
}
